.body * {
    font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif !important;
}

h1 {
    font-size: 3vh;
    overflow-wrap: break-word;
}

h3 {
    font-size: 1.5vh;
    overflow-wrap: break-word;
}

h5 {
    font-size: 1vh;
    overflow-wrap: break-word;
}

p {
    line-height: 25%
}

th {
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}

.targetvalue {
    color: black;
}

.help {
    width: 100%;
}

.toggleconfigwrapper {
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
}

.helpwrapper {
    display: inline;
    background-image: url("help.png");
    height: 4vh;
    width: 4vh;
    background-repeat: no-repeat;
    float: right;
    background-size: 100%;
    padding: 10px;
}

    .helpwrapper:hover {
        background-image: url("help2.png");
    }

.titletable {
    height: 80%;
    width: 100%;
    padding: 5px 5px 5px 5px;
}

.logocell {
    padding: 10px;
    background-color: black;
}

.logo {
    width: 30%;
    vertical-align: bottom;
    max-width: 400px;
}

.warning {
    width: 2vh;
    vertical-align: middle;
    max-width: 200px;
    margin: 5px;
}

.titlecell {
    padding-left: 10px;
    background-color: black;
}

.title {
    font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: left;
    vertical-align: bottom
}

.testconfigtable {
    padding: 5px 5px 5px 5px;
    width: 100%;
}

.testconfig {
    display: none
}



.testnamecell {
    background-color: lightgray;
    padding: 0px 5px 0px 5px;
}

.testname {
    color: black;
}

.initialbutton {
    font-size: 1.25vh;
    background-color: #2196F3;
    border: none;
    color: white;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    margin: 5px 5px 5px 0px;
}

.button {
    font-size: 1.25vh;
    background-color: #3e6892;
    border: none;
    color: white;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    margin: 5px 5px 5px 0px;
}

div > .configwarning {
    font-size: 1.25vh;
    font-weight: bold;
    visibility: hidden;
    width: 120px;
    background-color: #f28034;
    color: white;
    text-align: left;
    border-radius: 4px;
    z-index: 1;
    top: -5px;
    left: 105%;
    padding: 10px 5px 5px 5px;
    font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
    margin: 5px;
}

div:hover > .configwarning {
    visibility: visible;
}


.button:hover {
    background-color: #2196F3 !important;
}

.flex {
    display: flex;
}

.buttondiv {
    display: inline;
}

.initialbutton:hover {
    background-color: #2196F3 !important;
}


.buttonheader {
    font-size: 1.25vh;
    font-weight: bold;
    padding: 5px 5px 5px 0px;
}

.showedfailedtests {
    padding: 5px 5px 5px 0px;
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
}


.systeminfo > div {
    flex: 1 1 160px;
    margin: 5px;
}

.systeminfowide > div {
    flex: 1 1 160px;
    margin: 5px;
}

.typename {
    text-align: left;
    font-weight: bold;
    font-size: 1.35vh;
    background-color: lightgray;
    color: black;
    font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
    padding: 5px 5px 5px 10px;
}

.typenamewarning {
    text-align: left;
    font-weight: bold;
    font-size: 1.35vh;
    background-color: #f28034;
    color: white;
    font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
    padding: 5px 5px 5px 10px;
}

.fieldgroup {
    display: inline-block !important;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 5px;
}

.fieldgroupwarning {
    display: inline-block !important;
    border: 1px solid #f28034;
    border-radius: 4px;
    margin: 5px;
}

.fieldname {
    font-weight: bold;
    font-size: 1.25vh;
    overflow-wrap: break-word;
    font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
    padding: 4px;
}

.fieldnamewarning {
    background-color: #f28034;
    color: white;
    font-weight: bold;
    font-size: 1.25vh;
    overflow-wrap: break-word;
    font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
    padding: 4px;
}

.fieldvalue {
    font-size: 1.1vh;
    padding: 0px 4px 4px 4px;
}

.fieldvaluewarning {
    font-size: 1.1vh;
    color: #f28034;
}

.warningtable {
    padding: 5px 5px 5px 5px;
    width: 100%;
    text-align: left;
}

    .warningtable > tbody > tr > td {
        padding: 5px;
    }

    .warningtable > tbody > tr:nth-child(even) {
        background-color: #f2f2f2;
    }

pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    margin: 5px;
}

.containerLabel {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.25vh;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
}

    /* Hide the browser's default checkbox */
    .containerLabel input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 4vh;
    width: 4vh;
    max-height: 24px;
    max-width: 24px;
    background-color: #eee;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.containerLabel:hover input ~ .checkmark {
    background-color: #2196F3;
}

/* When the checkbox is checked, add a blue background */
.containerLabel input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerLabel input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerLabel .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.disabledContainerLabel {
    font-size: 1.25vh;
    display: block;
    font-weight: bold;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
}

    /* Hide the browser's default checkbox */
    .disabledContainerLabel input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .disabledContainerLabel .tooltiptext {
        font-size: 1.25vh;
        visibility: hidden;
        width: 120px;
        background-color: #2196F3;
        color: #fff;
        text-align: left;
        border-radius: 4px;
        padding: 5px 0;
        z-index: 1;
        top: -5px;
        left: 105%;
        padding: 10px 5px 5px 5px;
        font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
        margin: 5px;
    }

    .disabledContainerLabel:hover .tooltiptext {
        visibility: visible;
    }

.visualizationTable {
    width: 100%;
    font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
    padding: 5px 5px 5px 5px;
}

.statMethodTable {
    width: 100%;
    border: none;
    font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
    padding: 5px 5px 5px 5px;
}

.chartcell {
    padding: 5px 5px 5px 10px;
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color: darkgray;
}

.container {
    position: relative;
    width: 99%;
    height: 18vh;
    font-family: 'Arial', 'Helvetica', 'Helvetica Neue', sans-serif;
}

.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}
